# PostgreSQL connection pour tests unitaires (base en local)
DB_HOST_TEST="localhost"
DB_PORT_TEST=5432
DB_NAME_TEST="cardioanalysis_database_test"
DB_USER_TEST="user_test"
DB_PASSWORD_TEST="password_test"

# PostgreSQL connection
DB_HOST="HOST"
DB_PORT=5432
DB_NAME="cardioanalysis_database"
DB_USER="user"
DB_PASSWORD="password"